@charset "utf-8";
/* CSS Document */
body{
	font-family:  'Open Sans',sans-serif;
}

header{
	background: #ff8ec6;
	display: flex;
	padding: 10px;
}
.headerleft{
	color: #fff;
	margin-right: auto;
}

.headerright{
	display: flex;
}
.headerright > p{
	margin: auto 16px;
}

.headerright p:first-of-type{
	color: #fff;
}

.headerright input {
	margin-right: auto;
	background: #fff;
	border-color: transparent;
	color: #ff8ec6;
	cursor: pointer;
	width: auto;
	height: 30px;
	font-size: 1.1em;
}

.userlist > h1 {
	color: #928484;
	text-align: center;
	border-bottom: medium solid #928484;
}

.earch-container {
	color: #928484;
	border-bottom: 1px solid #928484;
}

.earch-container p:first-of-type{
	margin-right: auto;
	background: #fff;
	border-color: transparent;
	color: #ff8ec6;
	cursor: pointer;
	width: auto;
	height: 30px;
	font-size: 1.1em;
}
